In [12]:
import numpy as np
import pandas as pd
import os

## 이미지 파일 전처리

In [60]:
# 사진 리스트
photo_list = []

for f in os.listdir('./data/train/dress'):
    if 'jpg' in f:
        photo_list.append(f)

In [61]:
len(photo_list)

23063

In [63]:
# 사진 사이즈 구하기
photo_size = list(map(lambda x: os.path.getsize('./data/train/dress' + '/' + x), photo_list))
len(photo_size)

23063

In [64]:
# Find Same Photos
fsp = pd.DataFrame({'filename_raw':photo_list, 'size':photo_size})

print('사진의 갯수 :', len(fsp))

사진의 갯수 : 23063

In [65]:
# 숫자 삭제
import re   # 정규표현식
com = re.compile('\d*_')
fsp['filename'] = list(map(lambda x: com.sub('', x), photo_list))
fsp.head()

                           filename_raw   size                        filename
0              10000_Dolce  Gabbana.jpg  16161              Dolce  Gabbana.jpg
1             10001_Maison Margiela.jpg   9257             Maison Margiela.jpg
2                     10002_Macgraw.jpg  22413                     Macgraw.jpg
3  10003_Preen By Thornton Bregazzi.jpg  16289  Preen By Thornton Bregazzi.jpg
4            10004_Emilia Wickstead.jpg  15093            Emilia Wickstead.jpg

## 중복 제거

In [66]:
fsp.duplicated(['size','filename']).value_counts()

False    17208
True      5855
dtype: int64

In [67]:
save = fsp.drop_duplicates(['size','filename'], keep = 'first').reset_index(drop = 'false')
print('save ver length:', len(save))
save.tail()

save ver length: 17208

                    filename_raw   size              filename
17203            9995_A.P.C..jpg  45723            A.P.C..jpg
17204   9996_Mes Demoiselles.jpg  38265   Mes Demoiselles.jpg
17205      9997_Alice McCall.jpg  15881      Alice McCall.jpg
17206  9998_Carolina Herrera.jpg  13648  Carolina Herrera.jpg
17207              9999_MSGM.jpg  33538              MSGM.jpg

In [68]:
delete = fsp[~fsp['filename_raw'].isin(save['filename_raw'])].reset_index(drop = 'false')
print('delete ver length:', len(delete))
delete.tail()

delete ver length: 5855

            filename_raw   size        filename
5850      993_Theory.jpg   6097      Theory.jpg
5851        994_MSGM.jpg  29829        MSGM.jpg
5852       997_Vince.jpg   7585       Vince.jpg
5853  998_Zimmermann.jpg  17613  Zimmermann.jpg
5854    999_By Walid.jpg   6962    By Walid.jpg

## 중복된 사진 move

In [59]:
## 가방 ver
import shutil

for i in delete['filename_raw']:
    shutil.move('C:/Users/Administrator/3_이미지유사도/data/train/bag/'+i, 'C:/Users/Administrator/3_이미지유사도/data/train/bag_delete')

In [70]:
## 드레스 ver
import shutil

for i in delete['filename_raw']:
    shutil.move('C:/Users/Administrator/3_이미지유사도/data/train/dress/'+i, 'C:/Users/Administrator/3_이미지유사도/data/train/dress_delete')